body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5em; /*1 em is whatever the font size is (or you could just specify this in px*/
    margin: 0;
}
.container{
    width: 80%; /*80% of available width makes it responsive*/
    margin: auto; /*equal margin on both sides (centering it)*/
    overflow: hidden; /*if anything goes outside of container, no scroll bars*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageBody{
    padding-top: 40px;
    padding-right: 150px;
    font-family:'Roboto',sans-serif;
}
h1, ul {
    margin: 0;
    padding: 0;
}

#mainHeader{
    background: white; /*you can shorten hex to 3 digits if 6 digits are all same i.e. 333=333333*/
    color: #bf5700;
    padding: 10px 0;
    border-bottom: 1px solid #bf5700;
    border-top: 6px solid #bf5700;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family:'Roboto',sans-serif;
}
#mainNav ul {
    list-style: none;
    display: flex;
    align-items: center;
}


#mainNav a {
    color: #bf5700;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

a.button2{
    display:inline-block;
    padding:0.5em .5em;
    margin:0 .7em 0 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    transition: all 0.15s;
    }
a.button2:hover{
    text-decoration: underline;
    background: #8b3f015e
    }
a.button2:active{
    color:#e97313;
    }

.centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family:'Roboto',sans-serif;
}

img {
    max-width: 20%;
    height: auto;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 50%;
}

a.button{
    display:inline-block;
    padding:0.5em 2em;
    border:0.16em solid #000;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    transition: all 0.15s;
    }
a.button:hover{
    color:#bf5700;
    border-color:#bf5700;
    }
a.button:active{
    color:#e97313;
    border-color:#e97313;
    }
@media all and (max-width:30em){
    a.button2{
    display:block;
    margin:0.4em auto;
    }
    }

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box; /*tells sections to take into account padding*/
}
#sideBar {
    float: right;
    width: 30%;
    padding: 10px;
    border-left:2px solid #bf5700;
    box-sizing: border-box;
    
}
p {
    padding-top: 0px; /*works for all directions*/
    padding: 0px 0px 0px 0px; /*top right bottom left*/
    padding: 0px 0px; /*top-bottom left-right*/
    padding: 0px; /*all the way around*/
    margin-top: 10px; /*mooves paragraph down*/
}
h2 {
    padding-bottom: 8px;
    border-bottom: 2px solid #bf5700;
}
#mainFooter {
    background: #bf5700;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
@media (max-width: 768px){
    #main, #sidebar {
        width: 100%;
        float: none;
        border: none;
    }
}

.wrapper {
    padding-right: 17px; /* Width of the scrollbar */
    box-sizing: content-box;
}
